<!DOCTYPE html>
<html>
<head>
	<title>Data Tsunami</title>
	<script src="js/jquery.js" ></script>
	<script src="js/bootstrap.js" ></script>
	<script src="js/angular.js" ></script>
	<script src="js/d3.v3.min.js" ></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap_nobgimage.css"/>
</head>

<body id="welcome" ng-app="myApps" ng-controller="cpanel">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Data Tsunami</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analytics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/trends">Twitter</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">Reddit</a></li>
          </ul>
        </li>
		<li class="active"><a href="/cpanel">Control Panel <span class="sr-only">(current)</span>  </a></li>
	  </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Source Code</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Me <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Hire Me</a></li>
            <li><a href="#">Follow Me</a></li>
            <li><a href="#">Fork Me</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
	<h3>Start/Stop services</h3>
	<div class="container-fluid">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>service</th>
					<th>state</th>
					<th colspan="1">action</th>
					<th>pid</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Twitter Streaming API</td>
					<td ng-bind="status_1"></td>
					<td><button ng-click="start_1()" type="button" class="btn btn-info">Start</button>
					<button ng-click="stop_1()" type="button" class="btn btn-info">Stop</button></td>
					<td>{{pid_1}}</td>
				</tr>
				<tr>
					<td>Spark Streaming App</td>
					<td>{{status_2}}</td>
					<td><button ng-click="start_2()" type="button" class="btn btn-info">Start</button>
					<button ng-click="stop_2()" type="button" class="btn btn-info">Stop</button></td>
					<td>{{pid_2}}</td>
				</tr>
				<tr>
					<td>Socket Server</td>
					<td>{{status_3}}</td>
					<td><button ng-click="start_3()" type="button" class="btn btn-info">Start</button>
					<button ng-click="stop_3()" type="button" class="btn btn-info">Stop</button></td>
					<td>{{pid_3}}</td>
				</tr>
				<tr>
					<td>Mongo Express Server</td>
					<td>{{status_4}}</td>
					<td><button ng-click="start_4()" type="button" class="btn btn-info">Start</button>
					<button ng-click="stop_4()" type="button" class="btn btn-info">Stop</button></td>
					<td>{{pid_4}}</td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>

<script>
var app = angular.module('myApps', []);
app.controller('cpanel', function($scope, $http) {

	$http.get('/defaults').then(function(response){
		$scope.status_1 = response.data.status_1;
		$scope.pid_1 = response.data.pid_1;
		$scope.status_2 = response.data.status_2;
		$scope.pid_2 = response.data.pid_2;
		$scope.status_3 = response.data.status_3;
		$scope.pid_3 = response.data.pid_3;
		$scope.status_4 = response.data.status_4;
		$scope.pid_4 = response.data.pid_4;
	});
	
	$scope.start_1 = function(){
		$http.get('/start_1').then(function(response){
			$scope.status_1 = response.data.status_1;
			$scope.pid_1 = response.data.pid_1;
		})
	};

	$scope.start_2 = function(){
		$http.get('/start_2').then(function(response){
			$scope.status_2 = response.data.status_2;
			$scope.pid_2 = response.data.pid_2;
		})
	};

	$scope.start_3 = function(){
		$http.get('/start_3').then(function(response){
			$scope.status_3 = response.data.status_3;
			$scope.pid_3 = response.data.pid_3;
		})
	};
	
	$scope.start_4 = function(){
		$http.get('/start_4').then(function(response){
			$scope.status_4 = response.data.status_4;
			$scope.pid_4 = response.data.pid_4;
		})
	};

	$scope.stop_1 = function(){
		$http.get('/stop_1').then(function(response){
			$scope.status_1 = response.data.status_1;
			$scope.pid_1 = response.data.pid_1;
		})
	};

	$scope.stop_2 = function(){
		$http.get('/stop_2').then(function(response){
			$scope.status_2 = response.data.status_2;
			$scope.pid_2 = response.data.pid_2;
		})
	};

	$scope.stop_3 = function(){
		$http.get('/stop_3').then(function(response){
			$scope.status_3 = response.data.status_3;
			$scope.pid_3 = response.data.pid_3;
		})
	};
	
	$scope.stop_4 = function(){
		$http.get('/stop_4').then(function(response){
			$scope.status_4 = response.data.status_4;
			$scope.pid_4 = response.data.pid_4;
		})
	};

});
</script>
</body>
</html>