<!DOCTYPE html>
<html>
<head>
	<title>Data Tsunami</title>
	<link rel="icon" type="image/png" href="../icons/twitterbig.png" />
	<script src="../js/jquery.js" ></script>
	<script src="../js/bootstrap.js" ></script>
	<script src="../js/angular.js" ></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css"/>
</head>

<body id="welcome" ng-app>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Data Tsunami</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analytics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/trends">Twitter</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">Reddit</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Source Code</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Me <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Hire Me</a></li>
            <li><a href="#">Follow Me</a></li>
            <li><a href="#">Fork Me</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid" style="color:white;">
	<h1>Welcome to Data Tsunami</h1>
</div>
</body>
</html>